<%= render "block_tray" %>

<div style="border-style:solid;border-width:medium;margin:10px">
  <div id="sandbox-primary" class="sandbox" style="min-height:50px;"></div>
</div>
<div style="border-style:solid;border-width:medium;margin:10px;">
  <div id="sandbox-secondary" class="sandbox" style="min-height:50px;"></div>
</div>

<%= render "templates" %>
