<div style="border-style:solid;border-width:medium;margin:10px">
  <div id="sandbox-primary" class="sandbox" style="min-height:50px;"></div>
</div>
<div style="border-style:solid;border-width:medium;margin:10px;">
  <div id="sandbox-secondary" class="sandbox" style="min-height:50px;"></div>
</div>

<script id="template-control-buttons" type="text/template">
  <div class="control-buttons">
    <i class="icon-move">+</i>
    <i class="icon-pencil">e</i>
    <i class="icon-trash">x</i>
  </div>
</script>

<script id="template-BlueSquareBlock" type="text/template">
  <div style="background-color:blue;height:100px;width:100px;margin:10px"></div>
</script>

<script id="template-RedSquareBlock" type="text/template">
  <div style="background-color:red;height:100px;width:100px;margin:10px"></div>
</script>
