<div id="sandbox-primary" class="sandbox"></div>
<div id="sandbox-secondary" class="sandbox"></div>
<script id="template-BlueSquareBlock" type="text/template">
  <div style="background-color:blue;height:100px;width:100px"></div>
</script>
